[submodule "modules/elpekenin"]
	path = modules/elpekenin
	url = https://www.github.com/elpekenin/qmk_modules.git
[submodule "modules/getreuer"]
	path = modules/getreuer
	url = https://www.github.com/getreuer/qmk-modules.git
[submodule "modules/dmyoung9"]
	path = modules/dmyoung9
	url = git@github.com:dmyoung9/qmk_modules.git
